<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="cart" color="danger"></ion-icon>
      Fast and Flash  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ok agora tudo está certo !   seu pedido está pronto para retirada.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <img src="assets/images/32.jpeg">
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-buttons routerLink="/home">
    <ion-button>
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  <ion-label>
    Voltar a tela inicial
  </ion-label>
  </ion-buttons>
</ion-content>
