<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="cart" color="danger"></ion-icon>
      Fast and Flash  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cash-outline" color="dark"></ion-icon>
        Pagamento</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <img src="assets/images/13.jpg">
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Total</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="card-outline" color="dark" size="large"></ion-icon>
      R$ 53,52
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button expand="full" color="danger" routerLink="/confirmacao" shape="round">Confirmar</ion-button>
      </ion-col>
      <ion-col>
          <ion-button expand="full" color="danger" routerLink="/home" shape="round">Retornar ao ínicio</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
