<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <ion-icon name="cart" color="danger"></ion-icon>
      Fast and Flash  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Compare o melhor preço</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Alvorada</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Walmart</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Golfinho</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Muffato</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Musamar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Viscard</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">São Marcos</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" color="danger" shape="round" routerLink="/itens">Tonhão</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-buttons routerLink="/home">
    <ion-button>
      <ion-icon name="arrow-back-circle-outline" color="danger"></ion-icon>
    </ion-button>
  <ion-label>
    Voltar
  </ion-label>
  </ion-buttons>
  
</ion-content>
