<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="cart" color="danger"></ion-icon>
      Fast and Flash  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="file-tray-stacked-outline" color="dark"></ion-icon>
        Escolha seus itens</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <img src="assets/images/13.jpg">
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item>
      <ion-checkbox color="danger" slot="end"></ion-checkbox>
      Arroz
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger" slot="end"></ion-checkbox>
      Feijão
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger" slot="end"></ion-checkbox>
      Óleo
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger" slot="end"></ion-checkbox>
      Álcool
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger" slot="end"></ion-checkbox>
      Macarrão
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="danger" shape="round" routerLink="/escolha">Voltar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="danger" shape="round" routerLink="/fim">Pronto</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
