<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="cart" color="danger"></ion-icon>
      Fast and Flash  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Realize seu cadastro na F&F</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <img src="assets/images/13.jpg">
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
  <ion-item>
    <ion-label position="floating">Nome Completo</ion-label>
    <ion-input type="text" [(ngModel)]="contato.nome" ></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input type="number" [(ngModel)]="contato.cpf"></ion-input>
  </ion-item>
  </ion-col>
  </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="contato.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="number" [(ngModel)]="contato.senha"></ion-input>
  </ion-item> <ion-item>
    <ion-label position="floating">Confire sua senha</ion-label>
    <ion-input type ="number"></ion-input>
  </ion-item>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-button expand="full" color="danger" (click)="gravar()" shape="round">Confirmar</ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="full" color="danger" routerLink="/home" shape="round">Já possui registro ?</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
